/* Styles/bmi.css */

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    background-image: url('bgc_bmi.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    z-index: -1;
}

.bmi-container {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
}

.calculator,
.diet_plan {
    background-color: rgba(243, 158, 193, 0.7);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1;
    max-width: 800px;
}

.calculator {
    margin-right: 10px;
    max-width: 700px;
}

.diet_plan {
    margin-left: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 8px;
    margin: 8px 0;
    width: 80%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}